/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common style */
body{
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;

}
.container{
    background-color: navy;
}
.watch-live{
    text-decoration: none;
    color: white;
}